// Colors
$background: #010038;
$foreground: #F1E9DB;
$menu_bg: #293A80;
$menu_fg: #CCCCCC;
$primary: #537EC5;
$secondary: #F39422;

html {
  height: 100%;
}

body {
  height: 100%;
  background: $background;
  color: $foreground;
}

nav .pure-menu {
  background: $menu_bg;
  color: $menu_fg;
  padding: 0.5em;
}

.home-menu ul {
  float: right;
}

.pure-menu-heading, h3 {
  color: $secondary;
}

.pure-menu-link {
  color: $menu_fg;

  &:hover, &:focus {
    color: $menu_fg;
    background: $primary;
  }

  .selected {
    background: $primary;
  }
}

main {
  padding-top: 3em;
  width: 80%;
  margin: auto;
  height: 100vh;
}

#guilds-menu {
  background: $menu_bg;
  color: $menu_fg;
  margin-top: 1em;
  height: 100%;
}

#guild-details {
  background: $primary;
  margin-top: 1em;
  padding-left: 1em;
}