{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <main class="pure-g">
    <div class="pure-u-1-4 guilds-menu pure-menu">
      <span class="pure-menu-heading">Servers</span>
      <ul class="pure-menu-list">
        {% for guild in g.guilds %}
        <li class="pure-menu-item">
          <a href="{{ url_for('.dashboard', id=guild.id) }}" class="pure-menu-link{% if g.guild==guild.id %} selected{% endif %}">{{ guild.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="pure-u-md-2-3" id="guild-details">
      <h3 class="pure-heading">Server Details</h3>
      {% if not g.guild %}
      <span>Select a server on the menu</span>
      {% else %}
      {{ g.guild }}
      {% endif %}
    </div>
  </main>
{% endblock %}