{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<main class="pure-g">
    <div class="pure-u-1-4 pure-menu" id="guilds-menu">
        <span class="pure-menu-heading">Servers</span>
        <ul class="pure-menu-list">
            {% for guild in guilds %}
            <li class="pure-menu-item">
                <a href="{{ url_for('.dashboard', guild_id=guild.id) }}"
                   class="pure-menu-link{% if guild_id==guild.id %} selected{% endif %}">{{ guild.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="pure-u-md-2-3" id="guild-details">
        <h3 class="pure-heading">Server Details</h3>
        {% if not guild_id %}
        <span>Select a server on the menu</span>
        {% else %}
        <div class="pure-menu" id="channels-menu">
            <span class="pure-menu-heading">Channels</span>
            <ul class="pure-menu-list">
                {% for channel in channels %}
                {% if channel.type == 'text' %}
                <li class="pure-menu-item">
                    <a href="{{ url_for('.dashboard', guild_id=guild_id, channel_id=channel.id) }}"
                        class="pure-menu-link">{{ channel.name }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}